<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
<div class="layer layer-login active">
<div class="center-block">
<img src="/img/go.png" style="height: 10rem;"/>
<h3 style="color:#fff;font-size:1.8rem; margin:0;">NEMgo!</h3>
<h3 style="color:rgba(255,255,255,.5);font-size:1.05rem;">Produced By Markof</h3>
<p style="margin-top:4rem;">
<a class="btn btn-block btn-wave" href="/auth/facebook">
	<span class="btn-icon">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		</span> Sign in with Facebook</a><br/>

<a class="btn btn-block btn-wave" href="/auth/twitter">
<span class="btn-icon">
<i class="fa fa-twitter" aria-hidden="true"></i>
</span>
 Sign in with Twitter</a>
</p>
</div>
</div>
</body>
</html>
